{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Home{% endblock title %}


{% block index %}active{% endblock %}


{% block content %}

    <h2 class="page-header">42 Coffee Cups Test Assignment</h2>
    <div class="row1">
        <div class="col-md-5">
            <br>
            <h4>Name
                <small> myName</small>
            </h4>

            <h4>Last name
                <small> mySurname</small>
            </h4>

            <h4>Date of birth
                <small> 07-11-1986</small>
            </h4>

            <h4>Bio:
                <small> It's the last attempt</small>
            </h4>

        </div>
        <div class="col-md-5">
            <h4>Contacts</h4>
            <h4>Email:
                <small> email@email.com</small>
            </h4>

            <h4>Jabber:
                <small> jabber@co</small>
            </h4>

            <h4>Skype:
                <small> skype</small>
            </h4>

            <h4>Other contacts:
                <small> other_contacts</small>
            </h4>

        </div>
    </div>
    <footer class="text-left col-md-12">
        <hr>
        <p> Footer </p>
    </footer>

{% endblock %}