{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Home{% endblock title %}


{% block index %}active{% endblock %}


{% block content %}
    <div class="container">
        <h2 class="page-header"><b>42 Coffee Cups Test Assignment</b></h2>
        {% if info %}

            <div class="row1">
                <div class="col-md-5">
                    <br>
                    <h4>Name
                        <small>  {{ info.name }} </small>
                    </h4>

                    <h4>Last name
                        <small> {{ info.surname }} </small>
                    </h4>

                    <h4>Date of birth
                        <small> {{ info.date_birth|date:"d-m-Y" }} </small>
                    </h4>

                    <h4>Bio:
                        <p>
                            <small> {{ info.bio|linebreaks }} </small>
                        </p>
                    </h4>

                </div>
                <div class="col-md-5">
                    <h4><b>Contacts</b></h4>
                    <h4>Email:
                        <small> {{ info.email }} </small>
                    </h4>

                    <h4>Jabber:
                        <small> {{ info.jabber }} </small>
                    </h4>

                    <h4>Skype:
                        <small> {{ info.skype }} </small>
                    </h4>

                    <h4>Other contacts:
                        <p>
                            <small> {{ info.other_contacts|linebreaks }} </small>
                        </p>
                    </h4>

                </div>
            </div>

        {% else %}
            <div class="row1">No contact info</div>
        {% endif %}

        <hr>
        <footer class="text-left col-md-12">

            <p> Footer </p>
        </footer>
    </div>
{% endblock %}