{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Requests{% endblock title %}


{% block requests %}active{% endblock %}


{% block content %}
    <div class="container">
        <h3> Requests table</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Path</th>
                <th>Method</th>
                <th>Status code</th>
            </tr>
            </thead>
            <tbody id="requests">
            <tr>
                <td>2016-12-12 12:12</td>
                <td>/</td>
                <td>GET</td>
                <td>200</td>
            </tr>
            <tr>
                <td>2015-12-12 12:13</td>
                <td>requests/</td>
                <td>GET</td>
                <td>200</td>
            </tr>
            <tr>
                <td>2014-12-12 12:13</td>
                <td>requests/</td>
                <td>GET</td>
                <td>200</td>
            </tr>
            <tr>
                <td>2013-12-12 12:13</td>
                <td>requests/</td>
                <td>GET</td>
                <td>200</td>
            </tr>
            <tr>
                <td>2012-12-12 12:13</td>
                <td>request/</td>
                <td>GET</td>
                <td>404</td>
            </tr>
            <tr>
                <td>2011-12-12 12:13</td>
                <td>requests/</td>
                <td>POST</td>
                <td>500</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}